@mixin sanserif {
    font-family: Helvetica, Arial, sans-serif;
}

@mixin opensans {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

@mixin archivoNarrow {
    font-family: 'Archivo Narrow', Helvetica, Arial, sans-serif;
}

@mixin linkblue {
    color: #0e74ff;
}

@mixin lightgray {
    color: #7c7c7c;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background: #fcfcfc;
}

a, a:visited {
    text-decoration: none;
    @include linkblue;

    &:hover {
        text-decoration: underline;
    }
}

p {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    @include opensans;
}

img {
    width: 100%;
    height: auto;
}

@mixin center {
    display: block;
    margin: 0 auto;
}

.content {
    h1 {
        font-size: 2.5em;
        font-weight: 200;
    }

    h3 {
        font-size: 1.75em;
    }

    p, table {
        font-size: 1.4em;
        line-height: 1.8em;
        @include lightgray;
    }

    ul {
        @include lightgray;
    }

    .legal {
        display: block;
        font-size: 1em;
        line-height: 1.6em;
        @include lightgray;
    }

    button {
        @include background (linear-gradient(top, #719ffb, #5684e0));
        border: none;
        @include border-radius (2px);
        @include box-shadow (1px 1px 2px #d6d6d6);

        a {
            display: block;
            font-size: 1.3em;
            padding: .7em 2.4em;
            @include opensans;
            color: #ffffff;
            @include text-shadow (0 -1px 0 #5379c4);

            &:hover {
                text-decoration: none;
            }
        }
    }
}