.paper {
	min-height: 600px;
	background: url('../img/paper.png') no-repeat;
	background-size: cover;
	text-align: center;
	
	h2 {
		margin-bottom: 15px;
		font-size: 2.5em;
		@include archivoNarrow;
		letter-spacing: .3em;
		text-transform: uppercase;
		color: #231f20;
	}

	.stars {
		margin-bottom: 47px;
		font-size: 20px;
		line-height: 1em;
		letter-spacing: 11px;
		color: #231f20;
	}

	.entry-form {
		@include pie-clearfix;
	}
}

.allstars-logo {
	max-width: 361px;
	margin: 74px 0 10px 0;
}


.enter-prompt {
	display: block;
	width: 54%;
	float: left;
	padding: .25em 25px 0 0;
	font-size: 2.4em;
	@include opensans;
	font-weight: 400;
	text-align: right;
	color: #fff;
}

.pretty-input {
	position: relative;
	display: inline-block;
	width: 247px;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 2em;
	background:	#ffffff;
	@include border-radius (8px);
	@include box-shadow (1px 1px 1px #ead6c8, 1px 1px 1px #bebebe inset);
	background-clip: padding-box;
	border: 1px solid #c49a7c;

	.text, .text:focus {
		float: left;
		width: 191px;
		height: 1.5em;
		padding: 4px 0 0 8px;
		font-size: 1.2em;
		line-height: 37px;
		border: none;
		outline: none;
		background: transparent;
	}

	.btn {
		display: block;
		float: left;
		margin: 6px 0 5px 8px;
	}

	.text-error {
		position: absolute;
		bottom: -77px;
		padding: 8px 10px;
		font-size: .75em;
		text-align: left;
		border: 2px solid #b62132;
		@include border-radius (7px);
	}
}

.red-bar {
	background: #b62132;
	padding: 2.4em 0;
	@include archivoNarrow;
	text-align: center;
	font-size: 1.4em;
	letter-spacing: .3em;
	line-height: 2em;
	text-transform: uppercase;
	color: #ffffff;

	.checkboxes {
		max-width: 840px;
		margin: 0 auto;
		padding-left: 17%;

		li {
			display: inline-block;
			width: 380px;
			list-style: none;
			background: url('../img/checkbox.png') no-repeat;
			padding-left: 35px;
			text-align: left;
		}
	}
}