.js {
    min-height: 369px;
}

.cycle-slideshow {
    min-height: 371px;
    margin-bottom: 8%;
    overflow: hidden;
    list-style-type: none;

    li{
        width: 100%;
        height: auto;
    }
}


.cycle-text {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 41%;
    top: 3%;
    left: 5%;
    color: #ffffff;

    h4 {
        font-size: 1.5em;
        font-weight: 700;
    }

    h2 {
        margin-top: -.4em;
        font-size: 3.8em;
        line-height: 1.15em;
        font-weight: 200;
    }

    p{
        width: 87%;
        color: #ffffff;
    }
}

.welcome p {
    width: 86%;
}

.cycle-pager {
    position: absolute;
    height: 18px;
    z-index: 1000;
    bottom: 10%;
    left: 5%;
    overflow: hidden;
    text-align: center;

    span {
        display: inline-block;
        height: 16px;
        width: 16px;
        font-size: 50px;
        line-height: 24px;
        color: #000000;
        @include opacity(.5);
        cursor: pointer;
    }
}

span.cycle-pager-active {
    color: #ffffff;
    @include opacity(1);
}

.content {
    .col1, .col2, .col3 {
        width: 31%;

        h3 {
            line-height: .75em;
            font-weight: 600;
            color: #232323;
        }
    }

    .col1, .col2 {
        float: left;
    }

    .col1 {
        margin-right: 3.5%;
    }
    .col3 {
        float: right;
    }

    .dates {
        width: 100%;

        .title {
            padding-bottom: .5em;
        }
        
        .date {
            text-align: right;
        }
    }
}