@media screen and (max-width: 800px) {
//--- Defaults ---//
	.logotype {
		font-size: 1.5em;
		line-height: 2em;
	}

//--- Enter Page --- //
	.enter-prompt {
		float: none;
		width: 98%;
		padding: 0;
		text-align: center;
	}

	.pretty-input {
		float: none;
		margin: 30px 0 40px 0;

		.text {
			height: 2em;
			line-height: 52px;
		}

		.btn {
			margin: 14px 0 10px 8px;
		}
	}

	.red-bar .checkboxes {
		padding-left: 0;

		li {
			width: 70%;
		}
	}

//--- Home Page --- //
	.cycle-pager {
		display: none;
	}

	.cycle-text {
		position: relative;
		width: 100%;
		top: initial;
		left: initial;
		color: #7c7c7c;
		border-bottom: 1px solid #d7d6d6;

		h4 {
			margin: .75em 0 1.25em 0;
		}

		h2 {
			font-size: 2.8em;
			color: #232323;
			margin-bottom: 0;
		}

		p {
			width: 100%;
			color: #7c7c7c;
		}
	}

	.home {
		.col1, .col2, .col3 {
			float: none !important;
			width: 100% !important;
		}
	}

//--- Other Pages --- //
	.learn, .learn p, .learn-video, .dress aside, .dress img, .rules-page .intro h1, .rules-page .intro p {
		float: none !important;
		width: 100% !important;
	}

	.dates {
		.title {
			padding-bottom: initial !important;
		}
		
		.title, .date {
			line-height: 2.8em;
			border-bottom: 1px solid #d7d6d6;
		}
	}

	.webinars {
		.col1, .col2 {
			float: none;
			width: 100%;

			h3 {
				margin: 5% 0 0 0;
			}
		}
	}
}