.rules-page {
	.intro {
		padding-bottom: 5%;

		p, h1 {
			width: 41%;
		}
	}
}

.rules {
	margin-bottom: 2.5em;
	font-size: 1.1em;
	line-height: 1.8em;
	color: #383838;

	li {
		margin-bottom: 1em;
		font-size: 1.2em;
		list-style-position: inside;
	}
}