{% extends "base.html" %}

{% block javascripts %}
<script src="js/jquery.cycle2.min.js"></script>
<script type="text/javascript">
    // $('.cycle-text').hide();
    // $('#slideshow').on('cycle-pre-initialize', function(event) {
    //     $('.cycle-slideshow').removeClass('js');
    // });
    $(document).ready(function(){
        $('.cycle-text').show();
    });
</script>
{% endblock %}

{% block body %}

<div class="content home">
    <ul id="slideshow" class="cycle-slideshow js" data-cycle-slides="> li" data-cycle-fx="scrollHorz" data-cycle-pause-on-hover="true" data-cycle-auto-height="container" data-cycle-timeout="8000" data-cycle-log="false">
        <!-- data-cycle-auto-height="container" -->
        <li>
            <img src="img/slide1.jpg" alt="{{ l10n.home.slideshow[0].headline }}" />
            <div class="cycle-text welcome">
                <h4>{{ l10n.home.slideshow[0].label }}</h4>
                <h2>{{ l10n.home.slideshow[0].headline }}</h2>
                <p>{{ l10n.home.slideshow[0].content }}</p>
            </div>
        </li>
        <li>
            <img src="img/slide2.jpg" alt="{{ l10n.home.slideshow[1].headline }}" />
            <div class="cycle-text googleplex">
                <h4>{{ l10n.home.slideshow[1].label }}</h4>
                <h2>{{ l10n.home.slideshow[1].headline }}</h2>
                <p>{% if user_type == 'silver' %}
                    {{ l10n.home.slideshow[1].content_silver }}
                {% elif user_type == 'gold' %}
                    {{ l10n.home.slideshow[1].content_gold }}
                {% else %}
                    {{ l10n.home.slideshow[1].content_unmanaged }}
                {% endif %}</p>
            </div>
        </li>
        <li>
            <img src="img/slide3.jpg" alt="{{ l10n.home.slideshow[2].headline }}" />
            <div class="cycle-text jacket">
                <h4>{{ l10n.home.slideshow[2].label }}</h4>
                <h2>{{ l10n.home.slideshow[2].headline }}</h2>
                <p>{% if user_type == 'silver' %}
                    {{ l10n.home.slideshow[2].content_silver }}
                {% elif user_type == 'gold' %}
                    {{ l10n.home.slideshow[2].content_gold }}
                {% else %}
                    {{ l10n.home.slideshow[2].content_unmanaged }}
                {% endif %}</p>
            </div>
        </li>
        <div class="cycle-pager"></div>
    </ul>


    <div class="col1">
        <h3>{{ l10n.home.column1.headline }}</h3>
        <p>{{ l10n.home.column1.paragraph }}</p>
    </div>

    <div class="col2">
        <h3>{{ l10n.home.column2.headline }}</h3>
        <p>{% if user_type == 'silver' %}
            {{ l10n.home.column2.paragraph_silver }}
        {% elif user_type == 'gold' %}
            {{ l10n.home.column2.paragraph_gold }}
        {% else %}
            {{ l10n.home.column2.paragraph_unmanaged }}
        {% endif %}</p>
        <small class="legal">{% if user_type == 'silver' %}
            {{ l10n.home.column2.disclaimer_silver }}
        {% elif user_type == 'gold' %}
            {{ l10n.home.column2.disclaimer_gold }}
        {% else %}
            {{ l10n.home.column2.disclaimer_unmanaged }}
        {% endif %}</small>
    </div>
    
    <div class="col3">
        <h3>{{ l10n.home.column3.headline }}</h3>
        <table class="dates">
            {% for row in l10n.home.column3.table %}
            <tr>
                <td class="title">{{ row.label }}</td>
                <td class="date">{{ row.value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock body %}