{% extends "base.html" %}

{% block body %}
<div class="content">
    <section class="learn">
        <h1>{{ l10n.prizes.headline }}</h1>

        <p>{{ l10n.prizes.intro }}</p>

        <h2>{% if user_type == 'silver' %}
            {{ l10n.prizes.subhead_goal_silver }}
        {% elif user_type == 'gold' %}
            {{ l10n.prizes.subhead_goal_gold }}
        {% else %}
            {{ l10n.prizes.subhead_goal_unmanaged }}
        {% endif %}</h2>

        <h3>{{ l10n.prizes.subhead_rewards }}</h3>

        <ul>
            {% for reward in l10n.prizes.reward_items_all %}
            <li>{{ reward }}</li>
            {% endfor %}

            {% for reward in l10n.prizes.reward_items_managed %}
            <li>{{ reward }}</li>
            {% endfor %}
        </ul>
    </section>

    <aside class="learn-video">
        <div class="video-wrapper">
            <iframe width="541" height="304" src="http://www.youtube.com/embed/MB_YSOtHptg?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </aside>

    <section class="dress">
        <aside>
            <h1>{{ l10n.prizes.jacket_headline }}</h1>

            <p>{{ l10n.prizes.jacket_intro }}</p>

            <p><strong>{{ l10n.prizes.jacket_design_label }}</strong> {{ l10n.prizes.jacket_design_description }}</p>

            <h3>{% if user_type == 'silver' %}
                {{ l10n.prizes.subhead_jacket_goal_silver }}
            {% elif user_type == 'gold' %}
                {{ l10n.prizes.subhead_jacket_goal_gold }}
            {% else %}
                {{ l10n.prizes.subhead_jacket_goal_unmanaged }}
            {% endif %}</h3>
        </aside>

        <img src="img/jacket.jpg" />
    </section>
</div>
{% endblock body %}