{% extends "base.html" %}

{% block body %}
<div class="content resources">
    <section class="intro">
        <h1>{{ l10n.resources.headline }}</h1>

        <p>{{ l10n.resources.intro }}</p>
    </section>

    <section class="webinars">
        <h2>{{ l10n.resources.headline_webinars }}</h2>
        <p>{{ l10n.resources.subhead_webinars }}</p>

        <div class="col1">
            <h3>{{ l10n.resources.webinar1.title }}</h3>

            <p><strong>{{ l10n.resources.webinar1.date_label }}</strong> {{ l10n.resources.webinar1.date }}</p>
            <p><strong>{{ l10n.resources.webinar1.time_label }}</strong> {{ l10n.resources.webinar1.time }}</p>

            <p class="coming-soon">Coming Soon</p>
            <!-- <button type="button"><a href="{{ l10n.resources.webinar1.cta_url }}" target="_blank">{{ l10n.resources.webinar1.cta }}</a></button> -->
        </div>

        <div class="col2">
            <h3>{{ l10n.resources.webinar2.title }}</h3>

            <p><strong>{{ l10n.resources.webinar2.date_label }}</strong> {{ l10n.resources.webinar2.date }}</p>
            <p><strong>{{ l10n.resources.webinar2.time_label }}</strong> {{ l10n.resources.webinar2.time }}</p>

            <p class="coming-soon">Coming Soon</p>
            <!-- <button type="button"><a href="{{ l10n.resources.webinar2.cta_url }}" target="_blank">{{ l10n.resources.webinar2.cta }}</a></button> -->
        </div>
    </section>

    <section class="win-content">
        <h2>{{ l10n.resources.win_content.headline }}</h2>

        <div class="col1">
            <a href="{{ l10n.resources.win_content.resources[0].url }}" target="_blank"><img src="img/proposal_tool.jpg" alt="{{ l10n.resources.win_content.resources[0].title }}" /></a>
            <h3><a href="{{ l10n.resources.win_content.resources[0].url }}" target="_blank">{{ l10n.resources.win_content.resources[0].title }}</a></h3>
        </div>

        <div class="col2">
            <a href="{{ l10n.resources.win_content.resources[1].url }}" target="_blank"><img src="img/organic_results.jpg" alt="{{ l10n.resources.win_content.resources[1].title }}" /></a>
            <h3><a href="{{ l10n.resources.win_content.resources[1].url }}" target="_blank">{{ l10n.resources.win_content.resources[1].title }}</a></h3>
        </div>

        <div class="col3">
            {% if user_type == 'unmanaged' %}
                <a href="{{ l10n.resources.win_content.resources[2].url }}" target="_blank"><img src="img/keyword_tool.png" alt="{{ l10n.resources.win_content.resources[2].title }}" /></a>
                <h3><a href="{{ l10n.resources.win_content.resources[2].url }}" target="_blank">{{ l10n.resources.win_content.resources[2].title }}</a></h3>
            {% else %}
                <a href="{{ l10n.resources.win_content.resources[3].url }}" target="_blank"><img src="img/zmot.png" alt="{{ l10n.resources.win_content.resources[3].title }}" /></a>
                <h3><a href="{{ l10n.resources.win_content.resources[3].url }}" target="_blank">{{ l10n.resources.win_content.resources[3].title }}</a></h3>
            {% endif %}
        </div>
    </section>

    <section class="optimize-content">
        <h2>{{ l10n.resources.optimize_content.headline }}</h2>

        <div class="col1">
            <a href="{{ l10n.resources.optimize_content.resources[0].url }}" target="_blank"><img src="img/pitch_library.png" alt="{{ l10n.resources.optimize_content.resources[0].title }}" /></a>
            <h3><a href="{{ l10n.resources.optimize_content.resources[0].url }}" target="_blank">{{ l10n.resources.optimize_content.resources[0].title }}</a></h3>
        </div>

        <div class="col2">
            <a href="{{ l10n.resources.optimize_content.resources[1].url }}" target="_blank"><img src="img/agency_edge.png" alt="{{ l10n.resources.optimize_content.resources[1].title }}" /></a>
            <h3><a href="{{ l10n.resources.optimize_content.resources[1].url }}" target="_blank">{{ l10n.resources.optimize_content.resources[1].title }}</a></h3>
        </div>

        <div class="col3">
            <a href="{{ l10n.resources.optimize_content.resources[2].url }}" target="_blank"><img src="img/trends.png" alt="{{ l10n.resources.optimize_content.resources[2].title }}" /></a>
            <h3><a href="{{ l10n.resources.optimize_content.resources[2].url }}" target="_blank">{{ l10n.resources.optimize_content.resources[2].title }}</a></h3>
        </div>
    </section>
</div>
{% endblock body %}